html {
	margin: 1% 2% 2% 2%; 
	overflow-x: hidden;
}

body {
	background: white;
	font: black;
	display: table;
	font-size: 1.2em;
	font-family: 'Open Sans', monospace;
}

.split {
	position: absolute;
}

.right {
	display: block;
	margin: 4.4% 0% 0% 26%;
	padding: 0% 3% 0% 0%;
	line-height: 1.6em;
}

h1 {
	font-weight: normal;
	font-size: 1.2em;
}

h2 {
	font-weight: normal;
	font-size: 1em;
}

p {
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}

.corner {
	font-size: 2em;
}

.barcode {
	font-family: 'Libre Barcode 128 Text', monospace;
	font-size: 1.4em;
}

input {
	background:none!important;
	color:inherit;
	border:none; 
	padding:0!important;
	font: inherit;
	color: #0000ff;
	/*border-bottom:1px solid #00ffff; */
	cursor: pointer;
}

input:focus {
	outline: none;
	color: #00ff00;
}

.toggles {
	font-size: 1em;
}

a {
	color: white;
	background-color: #0000ff;
	text-decoration: none;
}

a:hover {
	background-color: #ff0000;
}

mark {
	background-color: black;
	color: white;
}