@charset "utf-8";
body {
	padding: 0;
	margin: 0;
	position: absolute;
}

@font-face {
	font-family: 'monospacemedium';
	src: url('fonts/monospace.woff2') format('woff2'),
		url('fonts/monospace.ttf') format('truetype'),
		url('fonts/monospace.woff') format('woff');	
}

/*For debugging.*/
/*
*{ border: 1px solid red; }
*/

.sightings {
	position: fixed;
    width:98%;
    height: 30%;
	top: 5%;
	left: 1%;
	
	font-family: 'Shrikhand', cursive;
	text-align: center;
	font-size:2.5em;
	color: #202020;
}

.story {
	display: none;
	position: fixed;
    width:80%;
    height: 65%;
	top: 30%;
	left: 10%;
	
	text-align: left;
	font-size: 1.3em;
	font-family: monospacemedium;
	text-indent: 5%;
	
	background-color: rgba(255, 255, 255, 0.7);
	opacity: 70%;
	
	overflow-y: scroll;
}

.img_a {
	position: fixed;
	width: 30%;
	top: 40%;
	left: 70%;
	z-index: -1;
}

.img_b {
	position: fixed;
	width: 20%;
	top: 66%;
	left: 5%;
	z-index: -1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
	background: grey;
}

video {
	position:fixed;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-1;
}