html {
	overflow-x: hidden;
	/* cursor: crosshair; */
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
	background: #fefefd;
	font: black;
	display: table;
	font-size: max(2.6vh, 1em);
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::selection {
	background: #aca9a4;
}

#scanner {
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -100;
    overflow: hidden;
}

.split {
	position: absolute;
}

.right {
	display: block;
	margin: 2vw 16vw 0% 4vw;
	padding: 0%;
	line-height: 1.5em;
	font-size: 1.2em;
}

p {
	padding: 0% 0% 0% 0%;
	margin: 0% 0% 0% 0%;
	margin-left: 1.5em;
	text-indent: -1.5em;
}

.corner {
  font-family: "Poltawski Nowy", serif;
	font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
	font-size: min(6.5vw, 1.8em);
}

.barcode {
	font-family: 'Libre Barcode 128 Text', monospace;
	font-size: min(6.2vw, 1.8em);
	padding: max(.35em, 1.2vh) 0em 0em .05em;
}

a {
	color: #152fac;
	text-decoration: none;
	-webkit-transition: color 999s ease, text-shadow 150s ease;
	-moz-transition: color 999s ease, text-shadow 150s ease;
	-o-transition: color 999s ease, text-shadow 150s ease;
	transition: color 999s ease, text-shadow 150s ease;
}

a:hover {
	/* cursor: crosshair; */
	/* font-weight: 700; */
	color: #fefefd;
	text-shadow: 0px 0px 2px #aca9a4, 0px 0px 3px #aca9a4, 0px 0px 5px #aca9a4, 0px 0px 8px #aca9a4, 0px 0px 12px #aca9a4, 0px 0px 17px;
	-webkit-transition: color 1.4s ease, text-shadow 36s ease;
	-moz-transition: color 1.4s ease, text-shadow 36s ease;
	-o-transition: color 1.4s ease, text-shadow 36s ease;
	transition: color 1.4s ease, text-shadow 36s ease;
}

mark {
	background-color: black;
	color: #fefefd;
}